body {
    margin: auto 0;
    font-family: 'Aladin', cursive;
    background-color: rgb(247, 254, 255);
    background-size: auto;
}

#greet {
    font-size: 2em;
}

#company {
    padding-left: 20px;
}

.welcome {
    text-align: center;

}
.zone1 {
    display: flex;
    list-style: none;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}

#reserve {
    color: rgb(247, 254, 255);
    text-emphasis: bold;
    padding-left: 10px;
    background-color: rgb(20, 100, 250);
   
}

#reserve:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    transition: 0.1s;
    transform: scale(1.05);
    cursor: pointer;
}
.main {
    display: flex;
    width: 90%;
    height: 60%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;

}

.main:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    transition: 1s;
    transform: scale(1.01);
    cursor: pointer;

}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
